<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="m-3">
                <form #form="ngForm" (ngSubmit)="submitForm(form)">
                    <div class="bg-danger text-white my-2 p-3" *ngIf="formSubmitted && form.invalid">
                        Bir hata oluştu.
                    </div>
                    <div class="bg-info text-white m-2 p-2">
                        {{ jsonProduct }}
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input required minlength="3" maxlength="10" pattern="^[A-Za-z ]+$"
                            [(ngModel)]="newProduct.name" type="text" class="form-control">
                        <div class="alert alert-danger" *ngIf="(formSubmitted || name.dirty) && name.invalid">
                            <!--
                        <p *ngIf="name.errors.required">Name is required.</p>
                        <p *ngIf="name.errors.pattern">Only letters and space</p>
                        <p *ngIf="name.errors.minlength">Min 3 character</p>
                        -->
                            <p *ngFor="let error of getValidationErrors(name)">
                                {{ error }}
                            </p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea [(ngModel)]="newProduct.description" type="text" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input [(ngModel)]="newProduct.price" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>ImageUrl</label>
                        <input [(ngModel)]="newProduct.imageUrl" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>